<!DOCTYPE html>
<html>
<head>
  <title>CryptidTracker</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD-mY93-KPr7OLzxyDCLSWz4_JTZSz8agg&sensor=false", "application", "data-turbolinks-track" => true %>

</head>
<body>

  <%= yield %>

  <%= render "layouts/header" %>

<div class="container">
<%= yield %>
</div>

</body>
</html>
